.navigation {
    background-color: green;
    display: none;
    #nav-links-container {
        // background-color: white;
        background-color: map-get($colors, "primary");
    }
    

    // @include laptop {
    //     display: block;
    //     /* add rest of styles inside media query here */
       
    // }
}