#contact-wrapper {
    background-color: mediumseagreen;
    height: 65rem;
    margin-top:10rem;

    h2 {
        font-size: 3rem;
        text-align: center;
    }
}

#social-icons-section {
    background-color: purple;
    height: 10rem;
    margin-top: 3rem;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
    }
    #linkedin {
        width: 5rem;
        height: 5rem;
    }
    
    #github {
        width: 5rem;
        height: 5rem;
    }
}

#contact-section {
    background-color: gray;
    display: flex;
    height: 20rem;
    flex-direction: column;
    justify-content: space-around;
    ul {
        list-style-type: none;
    }

    #email-ul {
        display: flex;
        align-items: center;
    }

    #contact-ul {
        display: flex;
        align-items: center;
    }

    #email-icon {
        width: 5rem;
        height: 5rem;
    }

    #phone-icon {
        width: 5rem;
        height: 5rem;
    }
}
