#footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#sitemap {
    background-color: green;
    color: black;

}

#contact {
    background-color: purple;
    color: black;
}

#copyright {
    text-align: center;
}