#footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: map-get($colors, "primary");

    #sitemap-contact-flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 20em;

        ul {
            list-style-type: none;
        }
        
        #sitemap {
            background-color: green;
            color: black;
            color: white;
            text-align: center;

            ul>li {
                margin-bottom: 5%;
            }
        }
        
        #contact {
            background-color: purple;
            color: black;
            color: white;

            h2 {
                text-align: center;
                margin-bottom: 4%;
            }
            ul>li:first-of-type {
                margin-bottom: 5%;
            }
        }
    }
    
    #copyright {
        text-align: center;
        color: white;
    }
}