#header-nav-flex-container {
    display: flex;
    height: 9rem;
    background-color: map-get($colors, "primary");
    position: relative;

    #header-title-subtitle-container{
        h2 {
            color: map-get($colors, "secondary");
        }
    }

    #header-title {
        color: rgb(255, 255, 241);
        letter-spacing: 1px;
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background-color: blue;
        background-color: map-get($colors, "primary");
        transform-origin: bottom right;
        transform: skewY(-10deg);
        z-index: -1;
    }
}