@import "../utilities/variables";
#nav-placeholder {
    color: white;
    width: fit-content;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

#nav-links-container {
    
    li{
        list-style-type: none;
        // display: none;
    }

    .nav-link{
        text-decoration: none;
        color: map-get($colors, "secondary");
    }
}


/* write styles for both navs. when finished, make nav folder in layout folder and add new partial for mobile nav and navigation. change path names in places used to match new paths*/
/* mobile nav */
.mobile-nav {
    background-color: orange;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
    @include laptop {
        display: none;
    }
}



.navigation {
    background-color: green;
    display: none;
    /* add laptop media mixin to set display to show */
    @include laptop {
        display: block;
    }
}

/* hamburger */
.hamburger {
    width: 40px;
    height: 40px;
    color: white;
}
