@import "../utilities/variables";
#nav-placeholder {
    color: white;
    width: fit-content;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

#nav-links-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 2px solid map-get($colors, "secondary");
    
    
    li{
        list-style-type: none;
        // display: none;
    }

    .nav-link{
        text-decoration: none;
        // color: map-get($colors, "secondary");
        color: white;
        &:hover{ 
            color: map-get($colors, "secondary");
        }
        &:active {
            padding-bottom: 3%;
            border-bottom: 1px solid white;
        }
        &.active{
            padding-bottom: 3%;
            border-bottom: 1px solid white;
            color: map-get($colors, "secondary");
        }
    }
}


/* write styles for both navs. when finished, make nav folder in layout folder and add new partial for mobile nav and navigation. change path names in places used to match new paths*/
/* mobile nav */
.mobile-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    @include laptop {
        display: none;
    }
}



.navigation {
    background-color: green;
    display: none;
    /* add laptop media mixin to set display to show */
    @include laptop {
        display: block;
    }
}

/* hamburger */
.hamburger {
    width: 40px;
    height: 40px;
    color: white;
    padding: 20% 0 1.5% 30%;  
}

/* close hamburger */
.close-hamburger {
    width: 30px;
    height: 25px;
    padding: 14px 0 6px 13px;  
    color: white;
}
