/* nav */
.hamburger.light, .close-hamburger.light {
    color: map-get($colors, "primary");
}

#nav-links-container.light {
    background-color: rgb(222, 226, 230);

    .nav-link.light {
        color: map-get($colors, "primary");

        &:hover{
            color: white;
        }
        &.active {
            border-bottom: 1px solid white;
        }
    }
}



/* header */
#header-wrapper.light {
        background-color: white;
        background-color: rgb(233, 236, 239);

       #header-title {
        color: map-get($colors, "primary");
       }
       
       &::after{
        border-bottom: 2px solid  map-get($colors, "primary");
    }
}

#contact-title.light {
    color: map-get($colors, "primary");
}

#project-title.light {
    color: map-get($colors, "primary");
}

/* home */
#skills-section.light {
    background-color:  rgb(233, 236, 239);

    ::before {
        background-color:  rgb(233, 236, 239);
        border-top: 2px solid  map-get($colors, "primary");
    }
    
    ::after {
        background-color:  rgb(233, 236, 239);
        border-bottom: 2px solid  map-get($colors, "primary");
    }

    h2 {
        color: map-get($colors, "primary");
    }

    li {
        color: map-get($colors, "primary");
    }


}


/* footer */
#footer-wrapper.light {
    background-color:  rgb(233, 236, 239);
    border-top: 2px solid  map-get($colors, "primary");

    #sitemap>h2 {
        color: map-get($colors, "primary");
    }

    .footer-link{
        color:  map-get($colors, "primary") !important;
    }
}

#contact.light {
    color: map-get($colors, "primary") !important;
}

#copyright.light {
    color: map-get($colors, "primary") !important;
}




